<!DOCTYPE html>
<html>
<head>

	<title>Pawiomen i Kobramen</title>

	<meta charset="UTF-8">
	<meta name="description" content="Oficjalna strona gry przygodowej Pawiomen i Kobramen." />
	<meta name="keywords" content="Pik, Pawiomen i Kobramen, Pawiomen, Kobramen, gra pik, gra, pik launcher">
	<meta name="author" content="Pik Software Development S.A.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="date" content="01.02.2022">

	<link rel="canonical" href="#mainpage" />
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/ikona.png">

</head>
<body>

	<!-- Logo and title -->
	<div id="logo">
		<img src="static/logo1.png" style="margin-left: auto; margin-right: auto;" alt="logotyp gry Pawiomen i Kobramen">
	</div>

	<!-- Main content panel -->
	<main id="content-panel"> 

		<nav id="panel-controll">
			<a href="/"><div class="panel-controll-item">O grze</div></a>
			<a href="/zakup"><div class="panel-controll-item">Kup grę</div></a>
			<a href="/moje-konto"><div class="panel-controll-item">Moje konto</div></a>
		</nav>

		<!-- Top content -->
		<article class="generic-container">
			<h1>Twoje konto</h1>
		</article>
		<br><br><br>

		<section class="generic-container">
			<div class="generic-half-container">
				<h4>Pobierz Zawartość</h4>
				<a href="static/pik_launcher_installer.exe" download>Pik Launcher</a>
			</div>
			<div class="generic-half-container">
				<h4>Twoje posiadane produkty Pik</h4>
				Pawiomen i Kobramen
			</div>
		</section>

	</main>

</body>
</html>