<!DOCTYPE html>
<html>
<head>

	<title>Pawiomen i Kobramen</title>

	<meta charset="UTF-8">
	<meta name="description" content="Oficjalna strona gry przygodowej Pawiomen i Kobramen." />
	<meta name="keywords" content="Pik, Pawiomen i Kobramen, Pawiomen, Kobramen, gra pik, gra, pik launcher">
	<meta name="author" content="Pik Software Development S.A.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="date" content="01.02.2022">

	<link rel="canonical" href="#mainpage" />
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/ikona.png">

</head>
<body>

	<!-- Logo and title -->
	<div id="logo">
		<img src="static/logo1.png" style="margin-left: auto; margin-right: auto;" alt="logotyp gry Pawiomen i Kobramen">
	</div>

	<!-- Main content panel -->
	<main id="content-panel"> 

		<nav id="panel-controll">
			<a href="/"><div class="panel-controll-item">O grze</div></a>
			<a href="/zakup"><div class="panel-controll-item">Kup grę</div></a>
			<a href="/moje-konto"><div class="panel-controll-item">Moje konto</div></a>
		</nav>

		<!-- Left content -->
		<article id="desc">
			<h3>Zagraj już dzisiaj!</h3><br>
			Pawiomen i Kobramen to gra przygodowa RPG, w której wcielasz
			się w jednego z tytułowych bohaterów. Podczas swojej wędrówki
			przez ciepłe krainy odkryjesz nieznane sekrety i zadbasz o to
			aby zapełnić wszystkie cele napotaknymi bandytami. Powodzenia 
			na drodzę do zostania superbohaterem!
		</article>

		<!-- Right content -->
		<aside id="buy">

			<br>
			<div style="margin-right: auto; margin-left: auto; width: 321px; height: 234px;">
				<img src="static/kobramen.png" style="width: 100%; height: 100%;" alt="tekstura Kobramena z gry Pawiomen i Kobramen">
			</div>
			
			<a href="/zakup">
				<div class="button" style="margin-right: auto; margin-left: auto; margin-top: 15px;">
					Kup
				</div>
			</a>
			
		</aside>

		<!-- Bottom content -->
		<article id="links">
				
				<div class="link-item">
					<h4>Przydatne linki i inne materiały</h4>
					<ul>
						<li><a href="#">Strona Firmy Pik</a></li>
						<li><a href="#">Pik Software Development</a></li>
						<li><a href="#">Forum gry</a></li>
						<li><a href="#">Dokumentacja techniczna</a></li>
					</ul>
					<br>
					Te linki pomogą Ci rozpocząć
				</div>

				<div class="link-item">
					<h4>Nowości i aktualizacje gry</h4>
					<ul>
						<li>postclassic 20220117</li>
						<li>postclassic 20220114</li>
						<li>postclassic 20220107</li>
					</ul>
					<br><br>
					Lista zawiera najnowsze wersje gry.
				</div>

				<div class="link-item">

					<h4>Dostępne platformy</h4>
					<ul>
						<li>Windows 7 i nowsze</li>
						<li>Linux</li>
					</ul>
					<br><br><br>
					Masz już grę? Zaloguj się <a href="#">tutaj</a>.
				</div>

		</article>

	</main>

</body>
</html>