<!DOCTYPE html>
<html>
<head>

	<title>Pawiomen i Kobramen</title>

	<meta charset="UTF-8">
	<meta name="description" content="Oficjalna strona gry przygodowej Pawiomen i Kobramen." />
	<meta name="keywords" content="Pik, Pawiomen i Kobramen, Pawiomen, Kobramen, gra pik, gra, pik launcher">
	<meta name="author" content="Pik Software Development S.A.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="date" content="01.02.2022">

	<link rel="canonical" href="#mainpage" />
	<link rel="stylesheet" href="static/style.css">
	<link rel="icon" href="static/ikona.png">

</head>
<body>

	<!-- Logo and title -->
	<div id="logo">
		<img src="static/logo1.png" style="margin-left: auto; margin-right: auto;" alt="logotyp gry Pawiomen i Kobramen">
	</div>

	<!-- Main content panel -->
	<main id="content-panel"> 

		<nav id="panel-controll">
			<a href="/"><div class="panel-controll-item">O grze</div></a>
			<a href="/zakup"><div class="panel-controll-item">Kup grę</div></a>
			<a href="/moje-konto"><div class="panel-controll-item">Moje konto</div></a>
		</nav>

		<!-- Top content -->
		<article id="steps-container">

			<h4>Etapy</h4>
			<div class="steps">
				<div class="step-item" style="text-align: right;"></div>
				Wybierz produkt
			</div>
			<div class="steps" style="width: 34%;">
				<div class="step-item"></div>
				Zarejestruj się
			</div>
			<div class="steps">
				<div class="step-item" style="text-align: left;"></div>
				Opłać zakupy
			</div>

		</article>

		<form method="POST" action="pay.html">

			<section id="order-form">
				<div class="form-side">
					<h4>Pełna cena:</h4>
					{{ price }} zł
				</div>
				<div class="form-side">
					<h4>Zarejestruj się</h4>
					<label for="username">Nazwa Użytkownika</label><br>
  					<input type="text" name="username"><br>
  					<label for="passwd">Hasło</label><br>
  					<input type="text" name="passwd"><br>
  					<label for="email">Adres email</label><br>
  					<input type="text" name="email"><br>
  					<label for="passwd_check">Hasło ponownie</label><br>
  					<input type="text" name="passwd_check"><br>
				</div>
			</section>

			<nav id="order-finish">
				<input type="submit" id="buy-submit" name="buy-submit" value="Dokonaj Zakupu">
			</nav>

		</form>

	</main>

</body>
</html>